<nav class="navbar-fluid navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">ShoppingAPP</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/about">About</a></li>
      </ul>
      <ng-container *ngIf="_auth.auth == true; then auth_li else user_li "></ng-container>
      <ng-template #auth_li>
      <ul class="nav navbar-nav navbar-right" >
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              {{_auth.user.name}} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a routerLink="categories">Categories</a></li>
              <li><a href="#">Edit Profile</a></li>
              <li><a routerLink="logout">Logout</a></li>
            </ul>
          </li>
        </ul>
        </ng-template>
        <ng-template #user_li>
          <ul class="nav navbar-nav navbar-right" >
          <li><a routerLink="/register">Register</a></li>
          <li><a routerLink="/login">Login</a></li>
          </ul>
        </ng-template>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
